.uxpjq { 
  border-bottom-width: 70px;
  font-size: 67px;
  border-right-width: 89px;
  padding-top: 87px;
  border-top-width: 68px;
  margin-left: 77px;
  border-right-width: 27px;
  line-height: 51px;
  border-left-width: 76px;
}
