.uxpjq { 
  border-bottom-width: 70px;
  font-size: 67px;
  border-right-width: 89px;
  padding-top: 87px;
  border-top-width: 68px;
  margin-left: 77px;
  border-right-width: 27px;
  line-height: 51px;
  border-left-width: 76px;
  padding-top: 87px;
  margin-right: 98px;
  padding-left: 99px;
  padding-right: 77px;
  padding-top: 26px;
  padding-top: 58px;
  border-bottom-width: 93px;
  font-size: 31px;
  border-left-width: 46px;
  border-top-width: 4px;
  padding-top: 86px;
  border-top-width: 5px;
  border-top-width: 60px;
  font-size: 98px;
  padding-left: 2px;
  padding-left: 48px;
  border-right-width: 16px;
  border-left-width: 30px;
  padding-bottom: 44px;
  border-top-width: 74px;
  padding-bottom: 41px;
  margin-left: 9px;
  border-bottom-width: 83px;
  line-height: 10px;
  margin-left: 34px;
  border-left-width: 29px;
  border-left-width: 21px;
  margin-top: 82px;
  margin-right: 92px;
  border-right-width: 63px;
  border-bottom-width: 6px;
  padding-left: 92px;
}
