.oiolm { 
  margin-right: 43px;
  padding-left: 44px;
  font-size: 58px;
  border-top-width: 0px;
  margin-bottom: 77px;
  margin-bottom: 7px;
  margin-top: 16px;
  margin-right: 21px;
  line-height: 88px;
  margin-left: 34px;
  border-top-width: 27px;
  border-bottom-width: 69px;
  margin-bottom: 32px;
  padding-bottom: 13px;
  font-size: 62px;
  margin-top: 75px;
  padding-bottom: 17px;
}
