.oiolm { 
  margin-right: 43px;
  padding-left: 44px;
  font-size: 58px;
  border-top-width: 0px;
  margin-bottom: 77px;
  margin-bottom: 7px;
  margin-top: 16px;
  margin-right: 21px;
  line-height: 88px;
  margin-left: 34px;
  border-top-width: 27px;
  border-bottom-width: 69px;
  margin-bottom: 32px;
  padding-bottom: 13px;
  font-size: 62px;
  margin-top: 75px;
  padding-right: 49px;
  border-bottom-width: 47px;
  padding-bottom: 61px;
  line-height: 52px;
  border-left-width: 50px;
  margin-right: 72px;
  padding-left: 94px;
  border-top-width: 67px;
  border-bottom-width: 52px;
  margin-left: 71px;
  margin-right: 65px;
  margin-bottom: 43px;
  margin-right: 17px;
  line-height: 12px;
  margin-left: 98px;
  margin-top: 88px;
}
